@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.eot');
    src: url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaDemiC.woff2') format('woff2'),
        url('../fonts/FuturaDemiC.woff') format('woff'),
        url('../fonts/FuturaDemiC.ttf') format('truetype'),
        url('../fonts/FuturaDemiC.svg#FuturaDemiC') format('svg');
    font-weight: normal;
    font-style: normal;
}

